.gheader{
    color: red;
    margin-top: 2rem;
}

.eheader{
    color: red;
    margin-top: 2rem;
}

.sheader{
    color: red;
    margin-top: 2rem;
}

/* .gwilHeaderMain{
    cursor: pointer;
    border-radius: 0.5rem;
    width: 80%;
    background-color: red;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
} */

