.gheader{
    color: red;
    margin-top: 2rem;
}

.eheader{
    color: red;
    margin-top: 2rem;
}

.sheader{
    color: red;
    margin-top: 2rem;
}

.page-div {
    margin: 2rem 5rem 2rem 5rem;
}

div {
    text-align: justify;
    text-justify: auto;
}
