.global-header {
    width: 100%;
    height: auto;
    background-color: #be0403;

}

.global-header img {
    margin-left: 4rem;
    vertical-align: middle;
}

.global-header {
    --bs-navbar-padding-y: 0rem;
}

.container-fluid {
    background-color: #be0403;
}

.collapse {
    margin-right: 4rem;

}

.navbar {
    --bs-navbar-padding-y: 0rem !important;
    background-color: #be0403;
}

.search-icon {
    height: 3rem;
    width: auto;
    color: white;
    position: relative;
    bottom: 1rem;
    right: 1rem;
}

.search-button {
    height: 3rem;
    width: 0;
    background-color: transparent;
}

