.nav-pills .nav-link {
  min-width: 320px;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  color: #353535;
  background-color: #fff;
  overflow: hidden;
  overflow-y: scroll;
}

.nav-pills .nav-link:hover {
  background-color: rgb(240, 191, 76);
}

/* Styles for the individual tabs */
.TabContent {
  padding: 20px;
}

/* SocialMediaTab.css */

.social-media-buttons {
  display: flex;
  gap: 15px;
  text-decoration: none;
  color: #007bff;
  font-size: 21px;
  align-items: center;
}

.contact-column h5 {
  color: red;
  font-size: 1.8rem;
  }

.social-media-buttons span {
  margin-top: 5px;
}

.social-media-buttons a:hover {
  color: rgb(240, 191, 76);
 }

.contact-info {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
}

.contact-column {
  flex: 1;
}

.follow-us {
  margin-top: 20px;
  padding-left: 1rem;
}

.follow-us h5 {
  color: red;
  font-size: 1.8rem;
}

.social-media-buttons a:hover {
  color: #0056b3;
  }

.custom-navbar {
  margin-left: 0 !important;
  padding-left: 4rem !important;
}

.contact-margin {
  position: absolute;
  right: 5rem;
}

.custom-navbar {
  background-color: #d40100;
  max-width: 100% !important;
}

.navbar {
  background-color: #be0403;
}

.nav-link {
  color: #fff !important;
  margin: 0 2rem 0 0;
}

.dropdown-item:hover {
  background-color: #d40100 !important;
  color: #fff !important;
}